<!DOCTYPE html>
html lang="en"
head
	meta charset="UTF-8"/
	title 
	meta name="viewport" content="width=device-width, initial-scale=1"
	link rel="stylesheet" href="css/main.css"/
	script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"	
	script src='js/main.js'
body
	header
		.container
			a.logo href="/"
				img src="/img/logo.png" alt="printe"/
				.logo-text
					p.logo-main-text PRINTE
					p.logo-sub-text Ваша типография
			.slogan-time
				p Качественная оперативная цифровая, <br>широкоформатная и сувенирная полиграфия!
				p Работаем с 9 до 18, вс и сб выходные
			.contacts
				.cabinet-email
					a.cabinet href="#" Личный кабинет
					a.email href="mailto:maket@test-vertka.ua" maket@test-vertka.ua
				.call
					a.soc-facebook href="https://www.facebook.com/"
						img src="../img/icon/facebook.png" height="22" width="13" alt=""/
					a.phone href="tel:0443314042" (044) 331-40-42
					img.show-more src="../img/icon/more.png" height="20" width="20" alt=""/
					.hide
						a.phone-vodafone href="tel:0994455418" (099) 445-54-18
						a.phone-kyivstar href="tel:0964977803" (096) 497-78-03
						a.phone-lifecell href="tel:0634351681" (063) 435-16-81
			.card		
				img src="../img/icon/shopping-cart.png" height="48" width="48"
				span 3
	nav
		.container
			ul
				li
					a href="#" Главная
				li
					a href="#" Продукция
				li
					a href="#" Доставка и оплата
				li
					a href="#" Новости
				li
					a href="#" База знаний
				li
					a href="#" О нас
				li
					a href="#" Контакты
				li
					img src="../img/icon/search.png" height="20" width="20" alt="search"/		
	main
		.header-slide
			h1 Оперативная печать полиграфии от 1 дня!
			span
			h2 Доставка в любой город Украины
			a.order href="#" Сделать заказа
		.container
			.callback
				img src="../img/icon/phone-white.png" height="22" width="22" alt=""/
				p Перезвоните мне сейчас!
			.prod 
				p.title Продукция
				.items
					.item
						img src="../img/icon/blank-page.png" height="62" width="53" alt=""/
						.discription
							p.sub-title Офисная продукция
							ul
								li Визитки
								li Конверты
								li Папки
								li Книги
								li Блокноты
								li Фирменные бланки
					.item
						img src="../img/icon/road-map.png" height="62" width="62" alt=""/
						.discription
							p.sub-title Рекламная продукция
							.big-list
								ul
									li Листовки
									li Флаера
									li Буклеты
									li Календари
									li Блокноты
								ul
									li Плакаты
									li Баннеры
									li Магниты
									li Наклейки
					.item
						img src="../img/icon/e-reader.png" height="62" width="62" alt=""/
						.discription
							p.sub-title Для бизнеса
							ul
								li Каталоги
								li Журналы
								li Дисконтные карты
								li Бейджи
								li Гарантиныйные наклейки
			.about-us
				p.title	О нас
				p.sub-title Оперативная печать полиграфии от 1 дня!	
				p.sub-text Перед долгим заплывом намажьтесь солнцезащитным кремом. Вода не спасает от вредного излучения, оно проникает и на глубину 1 м.<br>Прежде чем отправиться на пляж, съешьте что-нибудь солененькое или выпейте чай с лимоном. Считается, что тем самым вы предотвратите потерю важных минеральных веществ, которые покидают тело вместе с потом, а загар при этом ляжет ровнее. Находясь на солнце, следует больше двигаться — плавать, делать гимнастику, играть в мяч и т.д. Лучше ходить босиком, чем в тапочках. Не рекомендуется покрывать ногти лаком, пусть они отдохнут и получат солнечные лучи и воздух.		
			.news
				p.title Новости
				.items
					.item 
						p.date 14 марта 2018
						p.discription Оазисное земледелие поднимает культурный субэкваториальный климат, там же можно с палками
					.item 
						p.date 14 марта 2018
						p.discription Оазисное земледелие поднимает культурный субэкваториальный климат, там же можно с палками
					.item 
						p.date 14 марта 2018
						p.discription Оазисное земледелие поднимает культурный субэкваториальный климат, там же можно с палками
				a.all-news href="#" Смотреть все новости
	footer
		.container
			.callback
				img src="../img/icon/phone-white.png" height="22" width="22" alt=""/
				p Перезвоните мне сейчас!
			.logo-copy
				a.logo href="/"
					img src="/img/logo.png" alt="printe"/
					.logo-text
						p.logo-main-text PRINTE
						p.logo-sub-text Ваша типография
				p.copy 2018 — Все права защищены
			.slogan-time
				p Качественная оперативная цифровая, <br>широкоформатная и сувенирная<br>полиграфия!
				p Работаем с 9 до 18, вс и сб выходные
			nav
				ul
					li
						a href="#" Главная
					li
						a href="#" Продукция
					li
						a href="#" Доставка и оплата
				ul
					li
						a href="#" Новости
					li
						a href="#" База знаний
					li
						a href="#" О наc
			.call
				.soc-phone
					a.soc-facebook href="https://www.facebook.com/"
						img src="../img/icon/facebook.png" alt=""/
					a.phone href="tel:0443314042" (044) 331-40-42
					img.show-more src="../img/icon/more.png" height="20" width="20" alt=""/
					.hide
						a.phone-vodafone href="tel:0994455418" (099) 445-54-18
						a.phone-kyivstar href="tel:0964977803" (096) 497-78-03
						a.phone-lifecell href="tel:0634351681" (063) 435-16-81					
				a.contacts href="#" Контакты
				a.glyanec target="_blank" href="https://glyanec.net/" Глянец - Разработка сайтов